/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  font: 76%/170% Verdana, sans-serif;
  font-size: 12px;
  font-family: 'Quicksand'; 
  font-weight: 500;
  color: #494949;
}

#wrapper {
    background: url('images/bkg-main.png') repeat-y -1px 0;
	width: 1027px;
	margin: auto;
}

#container {
	width: 1000px;
	margin: auto;
}

#sidebar-first {
	width: 264px;
	float: left;
}

#center {
	width: 100%;
}

.sidebar-first #center {
	width: 736px;
	float: left;
}

#header{
    background-image: url('images/header.fw.png');
    background-repeat: no-repeat;
    color: white;
    height: 195px;
}

#header a{
    color: white;
}


#header-left{
	width: 20%;
	float: left;
    margin-top: 2em;
}

#header-right{
    text-align: right;
    display: inline;
	width: 80%;
	float: left;
    font-size: 10px;
}

#header-right input[type="text"]{
   width: 140px;
   border: grey thick;
}

#header-right input[type="password"]{
   width: 70px;
   border: grey thick;
}

#header-right input[type="submit"]{
   margin-left: 10px;
   margin-top: 2px;
   width: 17px;
   height: 17px;
   border: none;
   background-color: transparent;
   background-image: url('images/boton.fw.png');
   background-repeat: no-repeat;
   font-size: 1px;
   text-indent: -9999px;
}


#footer-firstcolumn, #footer-secondcolumn, #footer-thirdcolumn, #footer-fourthcolumn {
	float: left;
	width: 25%;
}

#footer {
    background-color: #ECECEC;
	clear: both;
    color: #342D7B;
    text-align: left;
    padding: 15px;
}

#footer a{
    color: #342D7B;
    text-decoration: none;
}

.item-list ul{
    list-style: none;
    margin: 2px;
}

.item-list ul li{
    display: inline;
    margin-left: 5px;
}

.item-list{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    float: left;
}

.form-item, .form-actions{
    float: left;
    display: inline;
}

.form-item label{
    display: inline;
    margin-left: 1em;
    text-transform: uppercase;
}
.form-item span{
    color: white;
}

/***************************** Contact info top ******************************/

.block-contact-top {
    margin-bottom: 10px;
    float: left;
    background-color: #ECECEC;
    font-size: 14px;
    color: #342D7B;
    padding: 3px 5px 0 5px;
    width: 360px;
    height: 22px;
    font-weight: bold;
}

.block-contact-top .number, .block-contact-top .movil{
    float: left;
}

.block-contact-top .movil{
    margin-left: 20px;
}

.block-contact-top .movil small{
    margin-left: 3px;
}

/******************************* Block search ***********************************/

.block-search {
    margin-left: 3px;
    margin-bottom: 10px;
    float: left;
}

.block-search .form-item {
    padding: 0;
    margin: 0;
}

.block-search input[type="text"]{
    padding: 0;
    margin: 0;
    width: 275px;
    border: 1px solid #342D7B;
    height: 23px;
}

.block-search input[type="submit"]{
    border: 0;
    height: 25px;
    padding: 0 5px;
    margin: 0;    
    font-weight: 300;
    text-transform: uppercase;
    background-color: #342D7B;
    color: #fff;
}




#footer .phone{
    font-weight: normal;
}

#footer .phone .number, #footer .phone .movil .number, 
#footer .phone .movil{
    font-size: 18px;
    padding: 0px;
    color: red;
    margin: 0px;
    padding-right: 80px;
}

#footer .phone .movil small{
    color: #342D7B;
    margin: 0px;
    font-size: 12px;
}

/******************************** Main menu **************************************/

.block-main-menu{
    float: left;
    width: 486px;
    height: 28px;
    background-color: #FBBA00;
    text-align: center;
}

.block-main-menu ul{
    padding: 4px;
    background-color: #FBBA00;
    margin: 0px;
    text-align: center;
    font-size: 10px; 
    font-weight: bold;
}

.block-main-menu ul li{
    display: inline;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    border-right: 1px #E29C00 solid;
    text-transform: uppercase;
}

.block-main-menu .last{
    border-right: none;
}

.block-main-menu a{
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

.block-main-menu a{
    text-decoration: none;
    color: #342D7B;
}

/************************************* Contact info **********************************/

.mail, .text, .facebook, .twitter{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 15px;
}

#footer .mail a{
    text-transform: lowercase;
    color: red;
    font-size: 17px;
}

.twitter, .facebook{
    font-size: 1px;
    text-indent: -9999px;
}


#block-user-login{
    float: right;
    width: 65%;
    margin: 0px;
    text-align: right;
    padding: 0;
}

.title{
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

/************************************ Panels ****************************************/

.panel-2col-tiny-sidebar .panel-col-first { 
  width: 486px;
}

.panel-2col-tiny-sidebar .panel-col-last { 
  width: 232px;
}


/************************************* Misc *****************************************/

.clear-both{
    clear: both;
}

/********************************** Menu Categories ********************************/

.block-menu-categorias{
    margin-top: 20px;
    margin-left: 15px;
    width: 230px;
}

.block-menu-categorias a{
    text-decoration: none;
    color: #342D7B;
}

.block-menu-categorias ul{
    margin: 0;
    padding: 0;
}

.block-menu-categorias ul li{
    list-style: none; 
    border-bottom: 1px #342D7B dotted;
}


.block-menu-categorias .term-link{
    padding: 20px 0;    
}

.block-menu-categorias .term-link a{
    float: left;
    display: block;
    text-indent: -9999px;
    font-size: 1px;
    width: 25px;
    height: 25px;
    background: url('images/blue-arrow.png') no-repeat;
}

.block-menu-categorias .term-image{
    width: 70px;    
    float: left;
}

.block-menu-categorias .term-name{
    font-weight: 800;
    font-size: 16px;  
    padding-top: 15px;
    width: 130px;
    float: left;
}

.block-menu-categorias .categoria-4 .term-name{
    padding-top: 10px;
}

/***************************** Footer Blocks ****************************/

.block-footer .leaf{
    list-style: none; 
    margin-left: 0px;
    text-transform: uppercase;
    padding: 0px;
    font-size: 12px;
}

.block-footer ul{
    padding-left: 0px;
    margin: 0px;
}

.block-footer h2{
    font-size: 14px;
}

/******************************* Like Box *******************************/

.block-like-box{
    margin: 15px 0;
    padding: 5px;
    background-color: #ECECEC;
}

.block-like-box .fb-like-box{
    background-color: #fff;
}

.block-like-box h2, .block-like-box h3{
    color: #342D7B;
    font-family: 'Quicksand'; 
    font-weight: 700;
}

/****************************** Adds block ******************************/

.view-publicidad-right, .view-publicidad-main{
    position: relative;
}

.view-publicidad-right .imagen{
    height: 100px;
}

.view-publicidad-right a, .view-publicidad-main a{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 100px;
    width: 232px;
    text-indent: -9999px;
    font-size: 1px;
}

.view-publicidad-main a{
    height: 299px;
    width: 486px;
}

/**************************** Shopping cart *****************************/

.block-shopping-cart{
    color: #fff;
    float: left;
    width: 232px;
    height: 28px;
    background-color: #342D7B;
}

.block-shopping-cart a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.block-shopping-cart .cart-link{
    float: left;
}

.block-shopping-cart .cart-link-inner,
.block-shopping-cart .cart-total-inner{
    padding: 5px;
}

.block-shopping-cart .cart-total{
    font-weight: 700;    
    float: right;
}
