/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif; 
  font-weight: 500;
  color: #494949;
}

h1{
    font-family: "Questrial";
    font-size: 2em;
}

#wrapper {
    background: url('images/bkg-main.png') repeat-y -1px 0;
	width: 1027px;
	margin: auto;
}

#container {
	width: 1000px;
	margin: auto;
}

#sidebar-first {
	width: 264px;
	float: left;
        margin-top: 8px;
}

#center {
	width: 100%;
}

.sidebar-first #center {
	width: 736px;
	float: left;
}

#header{
    background-image: url('images/header.fw.png');
    background-repeat: no-repeat;
    color: white;
    height: 195px;
    font-family: Verdana, sans-serif;
}

#header a{
    color: white;
    text-decoration: underline;
}

#header-left{
	width: 20%;
	float: left;
    margin-top: 2em;
}

#header-right{
    text-align: right;
    display: inline;
	width: 80%;
	float: left;
    font-size: 10px;
}

#header-right input[type="text"]{
   width: 140px;
   border: grey thick;
}

#header-right input[type="password"]{
   width: 70px;
   border: grey thick;
}

#block-user-login input[type="submit"]{
   margin-left: 10px;
   margin-top: 2px;
   width: 17px;
   height: 17px;
   border: none;
   background-color: transparent;
   background-image: url('images/boton.fw.png');
   background-repeat: no-repeat;
   font-size: 1px;
   text-indent: -9999px;
   cursor: pointer;
}

#block-user-login .form-actions{
    margin-top: 8px;
}

a{
    text-decoration: none;
    color: #3f3983;
}

#block-magdalena-social-top{
    float: right;
    clear: right;
    padding-right: 35px;
    display: inline-block;
}

.not-logged-in.page-user #block-magdalena-social-top{
    margin-top: 20px;
}

#block-magdalena-social-top .text{
    font-size: 14px;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
}

#block-magdalena-social-top a{
    text-decoration: none;
    display: block;
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    text-align: left;
    margin-left: 4px;
}

#block-magdalena-social-top .twitter,
#block-magdalena-social-top .facebook{
    float: left;
}

#block-magdalena-social-top .twitter a{
    background-image: url('images/twitter-logo-blanco.png');
}

#block-magdalena-social-top .facebook a{
    background-image: url('images/facebook-logo-blanco.png');
}

#footer-firstcolumn, #footer-secondcolumn, #footer-thirdcolumn, #footer-fourthcolumn {
	float: left;
	width: 25%;
}

#footer {
    background-color: #ECECEC;
    clear: both;
    color: #1c1b41;
    text-align: left;
    padding: 15px;
}

#footer a{
    color: #342D7B;
    text-decoration: none;
}

#footer .phone{
    font-weight: normal;
}

#footer .phone .number, #footer .movil .number, 
#footer .movil{
    font-size: 14px;
    padding: 0px;
    color: #d31f1f;
    margin: 0px;
    padding-right: 80px;
    font-weight: bold;
}

#footer .phone .movil small{
    color: #1c1b41;
    margin: 0px;
    font-size: 12px;
}

/*********************** Block user login ***************************/

.block-user-login .item-list ul{
    list-style: none;
    margin: 2px;
}

.block-user-login .item-list ul li{
    display: inline;
    margin-left: 5px;
}

.block-user-login .item-list{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    float: left;
}

.block-user-login .form-item, .form-actions{
    float: left;
    display: inline;
}

.block-user-login .form-item label{
    display: inline;
    margin-left: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    text-shadow: 8px black;
}

.block-user-login .form-item span{
    color: white;
}

#block-magdalena-user-menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

#block-magdalena-user-menu{
    font-size: 12px;
}

#block-magdalena-user-menu a{
    text-decoration: none;
}

#block-magdalena-user-menu ul li.user-profile,
#block-magdalena-user-menu ul li.user-history,
#block-magdalena-user-menu ul li.user-logout{
    padding-left: 20px;
    padding-top: 2px;
}

#block-magdalena-user-menu ul li.user-profile{
    background: url('images/profile.png') no-repeat;
}

#block-magdalena-user-menu ul li.user-history{
    background: url('images/history.png') no-repeat;
}

#block-magdalena-user-menu ul li.user-logout{
    background: url('images/logout.png') no-repeat;
}

/***************************** Contact info top ******************************/

.block-contact-top {
    margin-bottom: 10px;
    float: left;
    background-color: #ECECEC;
    font-size: 14px;
    color: #342D7B;
    padding: 3px 5px 0 5px;
    width: 360px;
    height: 22px;
    font-weight: bold;
}

.block-contact-top .number, .block-contact-top .movil{
    float: left;
}

.block-contact-top .movil{
    margin-left: 4px;
}

.block-contact-top .movil small{
    margin-left: 4px;
    font-weight: bold;
    display: inline-block;
    margin-top: 4px;
}

.block-contact-top .phone .number{
    padding-left: 17px;
    background: url('images/phone.png') no-repeat;
    margin-left: 15px;
    padding-top: 2px;
}

.block-contact-top .movil .number{
    padding-left: 17px;
    padding-bottom: 5px;
    background: url('images/cell-phone.png') no-repeat;
    padding-top: 2px;
    display: inline-block;
}

#footer .phone .number{
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: url('images/phone-footer.png') no-repeat;
}

#footer .movil{
    padding-left: 25px;
    background: url('images/cell-phone-footer.png') no-repeat;
}

#footer .phone .movil .number{
    background: none;
}

#footer .phone .movil .number{
    background: none;
}
/******************************* Block search ***********************************/

.block-search {
    margin-left: 3px;
    margin-bottom: 10px;
    float: left;
}

.block-search .form-item {
    padding: 0;
    margin: 0;
}

.block-search input[type="text"]{
    padding: 0;
    margin: 0;
    width: 275px;
    border: 1px solid grey;
    border-right: none;
    height: 23px;
    width: 270px;
}

.block-search input[type="submit"]{
    border: 1px solid grey;
    border-left: none;
    height: 25px;
    padding: 0 5px;
    margin: 0;    
    font-weight: 300;
    text-transform: uppercase;
    background-color: #342D7B;
    color: #fff;
    width: 74px;
    cursor: pointer;
}

.block-search .form-item, .form-actions{
    float: left;
    display: inline;
}

/******************************** Main menu **************************************/

.block-main-menu{
    float: left;
    width: 486px;
    height: 28px;
    background-color: #FBBA00;
    text-align: center;
}

.block-main-menu ul{
    font-family: "Questrial";
    margin: 0;
    padding: 0;
    height: 28px;
    text-align: center;
    font-size: 12px; 
}

.block-main-menu ul li{
    display: inline-block;
    padding: 6px 6px 6px 6px;
    margin: 0px;
    border-right: 1px #E29C00 solid;
    text-transform: uppercase;
    margin-top: 1px;
}

.block-main-menu .last{
    border-right: none;
}

.block-main-menu a{
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

.block-main-menu a{
    text-decoration: none;
    color: #342D7B;
}

/************************************* Contact info **********************************/

.social .mail, .social .text, .social .facebook, .social .twitter{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 15px;
}

#footer .mail a{
    text-transform: lowercase;
    color: #d31f1f;
    font-size: 17px;
}

.twitter, .facebook{
    font-size: 1px;
    text-indent: -9999px;
}

#footer .twitter a, #footer .facebook a{
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    margin-left: 6px;
}

#footer .twitter a{
    background-image: url('images/twitter-logo.png');
}

#footer .facebook a{
    background-image: url('images/facebook-logo.png');
}

#footer .social .text{
    float: left;
    margin-top: 4px;
    font-size: 14px;
}

#block-user-login{
    float: right;
    width: 545px;
    margin: 0px;
    text-align: right;
    padding: 0;
    margin-bottom: 15px;
}

.title{
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

/************************************ Panels ****************************************/

.panel-2col-tiny-sidebar .panel-col-first { 
  width: 486px;
}

.panel-2col-tiny-sidebar .panel-col-last { 
  width: 232px;
}

.panel-2col-mini-sidebar .panel-col-first { 
  width: 550px;
}

.panel-2col-mini-sidebar .panel-col-last { 
  width: 170px;
}

.panel-2col-sidebar-right .panel-col-first {
    width: 440px;
}

.panel-2col-sidebar-right .panel-col-last {
    width: 280px;
}


/************************************* Misc *****************************************/

.clear-both{
    clear: both;
}

.node-type-receta h1.page-title, .node-type-producto h1.page-title,
.page-taxonomy-term h1.page-title, .page-recetas h1.page-title,
.page-productos h1.page-title{
    display: none;
}

#block-search-form .form-actions input[type="submit"]{
    cursor: pointer;
}

.pane-views-oferta-semana-block h2{
    font-family: "Questrial";    
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #342D7B;
    background-color: white;
    width: 300px;
    margin-left: 90px;
}

.pane-views-oferta-semana-block{
    margin-top: 28px;
    background: repeat-x url('images/linea2.png') 0px 4px;
    margin-right: 10px;
}

.panel-middle{
    margin-top: 5px;
}

.pane-page-title h1{
    font-family: "Questrial";      
    color: #3f3983;
    font-weight: normal;
}

.pager-item, .pager-current{
    font-weight: bold;
    font-size: 12px;
    border: #d1d1d1 solid 1px;
}

.pager-current{
    position: relative;
    z-index: 1;
}

.item-list .pager li{
    display: inline-block;
    padding: 0px;
    width: 23px;
    height: 23px;
    margin: 0px;
    margin-left: -5px;
}

.item-list .pager{
    margin: auto;
    margin-top: 25px;
}

.item-list .pager .pager-current {
    border: #FF9C0C solid 1px;
    padding: 3px 0;
    height: 17px;
}

.item-list .pager li a{
    display: block;
    padding: 3px;
}

.pager-first a, .pager-previous a, .pager-next a, .pager-last a{
    text-indent: -9999px;
    font-size: 1px;
    height: 11px;
    width: 11px;
    float: left;
}

.item-list .pager-first a{
    background-image: url('images/pager-first.jpg');
    background-repeat: no-repeat;
    margin: 12px 0px 0px 2px;
}

.item-list .pager-last a{
    background-image: url('images/pager-last.jpg');
    background-repeat: no-repeat;
    margin: 12px 0px 0px 5px;
}

.item-list .pager-next a{
    background-image: url('images/pager-next.jpg');
    background-repeat: no-repeat;
    margin: 12px 0px 0px 5px;
}

.item-list .pager-previous a{
    background-image: url('images/pager-previous.jpg');
    background-repeat: no-repeat;
    margin: 12px 0px 0px 2px;
}

/**************************** Menu Categories ****************************/

.block-menu-categorias{
    font-family: "Questrial";    
    margin-top: 60px;
    margin-left: 15px;
    width: 230px;
}

.block-menu-categorias a{
    text-decoration: none;
    color: #342D7B;
}

.block-menu-categorias ul{
    margin: 0;
    padding: 0;
}

.block-menu-categorias ul li{
    list-style: none; 
    border-bottom: 1px #342D7B dotted;
}

#block-views-front-menu-categorias-block .term-name a{
    font-size: 16px;
    display: block;
    width: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.block-menu-categorias .term-link a{
    float: left;
    display: block;
    text-indent: -9999px;
    font-size: 1px;
    width: 25px;
    height: 25px;
    padding-bottom: 21px;
    padding-top: 21px;
    background: url('images/blue-arrow.png') no-repeat;
    background-position: 0px 21px;
}

.block-menu-categorias .term-image{
    width: 70px;    
    float: left;
    padding-top: 4px;
}

.block-menu-categorias .term-name{
    font-size: 16px;  
    width: 130px;
    float: left;
}

#block-views-front-menu-categorias-block .categoria-4 .term-name a, 
#block-views-front-menu-categorias-block .categoria-5 .term-name a{
    padding-top: 14px;
    padding-bottom: 14px;
}

/***************************** Footer Blocks ****************************/

.block-footer .leaf{
    list-style: none; 
    margin-left: 0px;
    text-transform: uppercase;
    padding: 0px;
    font-size: 12px;
}

.block-footer ul{
    padding-left: 0px;
    margin: 0px;
}

.block-footer h2{
    font-size: 14px;
}

#block-magdalena-contact-info h2{
    font-size: 16px;
}

#footer .social{
    font-weight: bold;
}

#page-bottom{
    background-color: #ECECEC;
    padding: 10px 40px 0px 40px;
}

#page-bottom .magdalena-logo{
    float: left;
}

#page-bottom .magdalena-copyright{
    font-family: Verdana, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #1c1b41;
    margin: 15px 0px 0px 5px;
}

#page-bottom .webpay-logo{
    margin-left: 85px;
}

#page-bottom #page-bottom-right,
#page-bottom #page-bottom-left{
    width: 460px;
    height: 100px;
    border-top: 1px #BEBEBE solid;
}

#page-bottom #page-bottom-left{
    float: left;
    margin: 0px;
    padding-top: 20px;
}

#page-bottom #page-bottom-right{
    float: right;    
    padding-top: 15px;
}

/******************************* Like Box *******************************/

.block-like-box{
    font-family: "Questrial";    
    margin: 15px 0;
    padding: 5px;
    background-color: #ECECEC;
}

.block-like-box .fb-like-box{
    background-color: #fff;
}

.block-like-box h2, .block-like-box h3{
    color: #342D7B;
    font-weight: normal;
}

/****************************** Adds block ******************************/

.view-publicidad-right, .view-publicidad-main{
    position: relative;
}

.view-publicidad-right .imagen{
    height: 100px;
}

.view-publicidad-right a, .view-publicidad-main a{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 100px;
    width: 232px;
    text-indent: -9999px;
    font-size: 1px;
}

.view-publicidad-main a{
    height: 299px;
    width: 486px;
}

/**************************** Shopping cart *****************************/

.block-shopping-cart{
    font-family: "Questrial";
    color: #fff;    
    float: left;
    width: 232px;
    height: 28px;
    background-color: #342D7B;
}

.block-shopping-cart a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.block-shopping-cart .cart-link{
    float: left;
}

.block-shopping-cart .cart-link-inner,
.block-shopping-cart .cart-total-inner{
    padding: 5px;
    margin-top: 2px;
    font-size: 13px;
}

.block-shopping-cart .cart-total{
    font-weight: 700;    
    float: right;
}

h1.page-title{
    font-family: "Questrial"; 
    color: #342D7B;
    margin-top: 30px;
    font-weight: normal;
}

.view-commerce-cart-form th,
.view-commerce-cart-summary th{
    text-transform: uppercase;
    color: #1c1b41;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    padding: 3px 10px 3px 10px;
    text-align: center;
    background-color: #ECECEC;
    border: none;
}

.view-commerce-cart-form table,
.view-commerce-cart-summary .views-table{
    width: 718px;
}

.view-commerce-cart-form tr,
.view-commerce-cart-summary tr{
    border: none;
    background-color: white;
}

.view-commerce-cart-form th.views-field-edit-delete{
    text-align: center;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    font-size: 1px;
}

.view-commerce-cart-form .views-field-edit-delete input[type="submit"]{
    padding: 0px;
    background:transparent url('images/eliminar.png') no-repeat;
    border: none;
    text-indent: -9999px;
    font-size: 1px;
    cursor: pointer;
    width: 14px;
    height: 17px;
}

.views-field-commerce-total{
    font-weight: bold;
}

.views-field-edit-quantity input[type="text"],
.form-type-textfield.form-item-quantity input[type="text"]{
    border: solid 1px #a39fc2;
    border-radius: 2px;
    width: 50px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.views-field-edit-quantity .ui-spinner-buttons{
    margin-left: 10px;
}

.views-field-edit-quantity .ui-spinner-button.ui-spinner-up,
.ui-spinner-button.ui-spinner-up{
    border: none;
    cursor: pointer;
}

.views-field-edit-quantity .ui-icon-triangle-1-n,
.form-type-textfield.form-item-quantity .ui-icon-triangle-1-n{
    background-image: url('images/flecha-arriba.png');
    background-color: white;
    background-position: 2px 2px;
}

.views-field-edit-quantity .ui-spinner-button.ui-spinner-down,
.ui-spinner-button.ui-spinner-down{
    border: none;
    cursor: pointer;
}

.views-field-edit-quantity .ui-icon-triangle-1-s,
.form-type-textfield.form-item-quantity .ui-icon-triangle-1-s{
    background-image: url('images/flecha-abajo.png');
    background-color: white;
    background-position: 2px 6px;
}

.line-item-total{
    margin-top: 10px;
}

.line-item-total-label{
    text-transform: uppercase;
    color: #1c1b41;
    font-family: Verdana, sans-serif;
    padding-right: 100px;
}

.line-item-total-raw{
    text-transform: uppercase;
    color: #1c1b41;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    padding-right: 115px;
    font-size: 13px;
}

.commerce-line-item-actions{
    float: right;
    margin-right: 0px;
}

.commerce-line-item-actions #edit-submit{
    background: #BEBEBE;
    padding: 10px 15px 10px 15px;
}

.view-commerce-cart-form .views-field-commerce-total,
.view-commerce-cart-summary .views-field-commerce-total{
    padding-right: 70px;
}

.view-commerce-cart-form tbody,
.view-commerce-cart-summary tbody{
    border: none;    
}

.view-commerce-cart-form tbody td,
.view-commerce-cart-summary tbody td{
    padding: 10px;
    border-bottom: 1px #ECECEC solid;
    text-align: center;
    color: #1c1b41;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
.view-commerce-cart-form tbody .views-field-line-item-title,
.view-commerce-cart-summary tbody .views-field-line-item-title{
    text-align: left;
}

/**************************** Ofertas *****************************/

.views-field-field-thumbnail-1{
    text-align: center;
}

.view-oferta-semana td{
    padding: 10px;
    width: 165px;
}

.views-field-commerce-price{
    font-size: 17px;
    color: #FF9C0C;
}

.views-field-title{
    font-size: 14px;
}

.views-field-view-node{
    text-decoration: underline;
    text-transform: lowercase;
}

.commerce-add-to-cart input[type="submit"],
#commerce-checkout-coupon-ajax-wrapper input[type="submit"],
.page-user-register .block-system .form-submit{
    background-color: #ff8b01;
    border: none;
    color: white;
    padding: 3px;
    margin-top: 5px;
    cursor: pointer;
}

.commerce-add-to-cart .view-front-productos{
    text-align: center;
}

.views-field-add-to-cart-form .form-item-quantity{
    float: left;
}

.views-field-add-to-cart-form .form-item-quantity label{
    display: none;
}

.views-field-add-to-cart-form input[type="submit"]{
    margin: 1em 0;
    float: left;
    font-family: 'Questrial';
    font-size: 15px;
    margin-left: 5px;
}

/***************************** Recetas ***********************************/

.view-receta-destacada .tipo{
    font-size: 16px;
    color: #342D7B;
    margin-bottom: 10px;
}

.view-receta-destacada .titulo{
    font-family: "Questrial";    
    font-size: 2em;
}

.view-receta-destacada .cantidad{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 3px 0px 3px;
    background-color: #FBBA00;
    text-transform: uppercase;
    width: 73px;
    color: black;
}

.view-receta-destacada .cantidad{
    margin-top: 20px;
}

.view-receta-destacada .descripcion{
    color: black;
    font-family: Verdana, sans-serif;
}

.view-receta-destacada .descripcion p{
    margin-bottom: 0px;
}

.view-receta-destacada .more a{
    font-family: Verdana, sans-serif;
    color: #ff8b00;
    text-decoration: underline;
    font-weight: bold;
}

.pane-front-recetas-mas-recetas h2{
    padding: 5px;
    background-color: #ECECEC;
    color: black;
    font-size: 16px;
}

.view-mas-recetas .cantidad, .node-type-producto .views-field-field-personas{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 3px 0px 3px;
    background-color: #FBBA00;
    text-transform: uppercase;
    width: 73px;
    color: black;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.view-mas-recetas .more a{
    font-family: Verdana, sans-serif;
    color: #ff8b00;
    text-decoration: underline;
    font-weight: bold;
}

.view-mas-recetas .more{
    margin-bottom: 10px;
    margin-left: 160px;
    clear: both;
}

.view-mas-recetas .views-row{
    margin-top: 10px;
    border-bottom: solid 1px #BEBEBE;
}

.view-mas-recetas .views-row-last{
    border-bottom: none;
}

.view-mas-recetas .imagen{
    float: left;
}

.view-mas-recetas .tipo{
    color: #342D7B;
    font-size: 12px;
    margin-left: 10px;
    float: left;
    width: 280px;
}

.view-mas-recetas .titulo{
    float: left;
    color: #342D7B;
    font-size: 18px;
    width: 280px;
    margin-left: 10px;
}

.view-mas-recetas .descripcion{
    color: black;
    font-family: Verdana, sans-serif;
    margin: 0px;
    float: left;
    clear: right;;
    width: 280px;
    margin-left: 10px;
}

#quicktabs-recetas{
    margin-left: 10px;
}

#quicktabs-recetas ul li{
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
}

#quicktabs-recetas ul{
    margin-top: 4px;
}

#quicktabs-recetas ul li a{
    padding: 5px 7px 5px 7px;
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
}

#quicktabs-recetas ul li a:active, #quicktabs-recetas ul li.active a{
    color: white;
    background-color: #FBBA00;
}

#quicktabs-container-recetas .imagen{
    float: left;
    width: 110px;
    clear: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#quicktabs-container-recetas .tipo{
    color: #342D7B;
    font-size: 11px;
    clear: right;
}

#quicktabs-container-recetas .titulo{
    color: #342D7B;
    font-size: 15px;
    clear: right;
    text-align: left;
}

#quicktabs-container-recetas .more a{
    font-family: Verdana, sans-serif;
    color: #ff8b00;
    text-decoration: underline;
    font-weight: bold;
    clear: right;
}

#quicktabs-container-recetas .more{
    margin-bottom: 20px;
    width: 145px;
    float: right;
}

#quicktabs-container-recetas .views-row{
    margin-top: 20px;
    clear: both;
    border-bottom: solid 1px #BEBEBE;
    display: inline-block;
    width: 265px;
}

.node-type-receta #block-system-main,
.node-type-consejo #block-system-main{
    position: relative;
}

.node-type-receta .pane-magdalena-addthis-share,
.node-type-consejo .pane-magdalena-addthis-share{
    position: absolute;
    top: 0;
}

.node-type-receta .addthis_toolbox, .node-type-consejo .addthis_toolbox{
    background-color: transparent;
}
/******************************* Detalle Recetas *****************************/

.node-type-receta .pane-node-terms{
    font-size: 16px;
    color: #342D7B;
    margin-bottom: 10px;
}

.pane-node-title h1{
    font-family: "Questrial";    
    margin-top: 0px;
    color: #342D7B;
    font-weight: normal;
}

.field-name-field-personas{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 3px 0px 3px;
    background-color: #FBBA00;
    text-transform: uppercase;
    width: 73px;
    color: black;
}

.field-name-body{
    color: black;
    font-family: Verdana, sans-serif;
}

.pane-magdalena-facebook-comments{
    color: #342D7B;
}

.pane-magdalena-facebook-comments h2{
    font-weight: normal;
}

.pane-front-productos-receta-productos h2{
    padding: 10px;
    background-color: #ECECEC;
    margin: 0;
    margin-left: 15px;
    width: 133px;
    color: black;
    font-family: 'Questrial';
    font-weight: normal;    
}

.view-front-productos td{
    padding: 10px;
    width: 165px;
}

.pane-front-productos-receta-productos .view-front-productos{
    margin-left: 15px;
}

.pane-front-productos-receta-productos .view-front-productos .views-row{
    padding: 10px;
    margin-right: 2px;
}

.view-front-productos .views-field-field-thumbnail{
    text-align: center;
}

/************************** Consejos *******************************/

.page-consejos h1.page-title{
    display: none;
}

.view-front-consejos-saludables .titulo a{
    font-size: 30px;
}

.view-front-consejos-saludables .titulo{
    margin-top: 10px;
}

.pane-front-consejos-saludables-mas-consejos h2{
    padding: 5px;
    background-color: #ECECEC;
    color: black;
    font-size: 16px;
}

.view-front-consejos-saludables.view-mas-recetas .titulo a{
    float: left;
    color: #342D7B;
    font-size: 18px;
    width: 280px;
    margin-left: 10px;
}
.view-front-consejos-saludables.view-mas-recetas .titulo{
    margin: 0px;
}

.view-front-consejos-saludables.view-mas-recetas .descripcion{
    float: left;
    clear: right;
    width: 280px;
    margin-left: 10px;
}

#quicktabs-consejos{
    margin-left: 10px;
}

#quicktabs-consejos ul li{
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
}

#quicktabs-consejos ul{
    margin-top: 4px;
}

#quicktabs-consejos ul li a{
    padding: 5px 7px 5px 7px;
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
}

#quicktabs-consejos ul li a:active, #quicktabs-consejos ul li.active a{
    color: white;
    background-color: #FBBA00;
}

#quicktabs-container-consejos .imagen{
    float: left;
    width: 110px;
    clear: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#quicktabs-container-consejos .titulo a{
    color: #342D7B;
    font-size: 15px;
    clear: right;
    text-align: left;
}

#quicktabs-container-consejos .titulo{
    margin: 0px;
}

#quicktabs-container-consejos .more a{
    font-family: Verdana, sans-serif;
    color: #ff8b00;
    text-decoration: underline;
    font-weight: bold;
    clear: right;
}

#quicktabs-container-consejos .more{
    margin-bottom: 20px;
    width: 145px;
    float: right;
}

#quicktabs-container-consejos .views-row{
    margin-top: 20px;
    clear: both;
    border-bottom: solid 1px #BEBEBE;
    display: inline-block;
    width: 265px;
}
/************************** Detalle Consejo *******************************/

.node-type-consejo .field-type-image .field-label{
    display: none;
}

.node-type-consejo .field-type-image .field-items img{
    width: 700px;
    height: 440px;
}

.node-type-consejo .field-name-field-thumbnail{
    display: none;
}

.node-type-consejo .field-type-text-with-summary{
    width: 700px;
}

.node-type-consejo #tabs-wrapper h1.page-title{
    color: #3f3983;
}

.page-checkout .views-table{
    width: 718px;
    color: black;
}

.page-checkout .views-table thead{
    font-size: 13px;
}

.page-checkout .views-table tr{
    background-color: transparent;
    border: none;
}

.commerce-order-handler-area-order-total .commerce-price-formatted-components{
    margin-left: 383px;
}

.form-item-commerce-shipping-shipping-service{
    font-size: 18px;
}

.form-item-commerce-shipping-shipping-service input[type="radio"]{
    display: none;
}

.page-checkout .region-content{
    color: black;
}

/*********************** Tramite Compra *******************************/

.customer_profile_billing label,
#commerce-checkout-coupon-ajax-wrapper .commerce_coupon label,
.page-user-register .block-system .form-item label{
    font-size: 18px;
    font-weight: normal;
    float: left;
    width: 250px;
    text-align: left;
}

.customer_profile_billing .container-inline-date .date-padding{
    padding: 0px;
}

.customer_profile_billing .date-no-float{
    width: 300px;
    margin: 0px;
    float: left;
    clear: none;
}

.customer_profile_billing label span,
.page-user-register .block-system .form-item span{
    color: black;
}

.form-select.shipping-recalculation-processed{
    width: 232px;
}

.customer_profile_billing .form-item{
    clear: both;
}

.customer_profile_billing .form-type-date-text .form-item{
    clear: none;;
}

.customer_profile_billing .date-date{
    float: left;
}

.customer_profile_billing input,
.customer_profile_billing .field-name-field-fecha input,
#commerce-checkout-coupon-ajax-wrapper input,
.page-user-register .block-system .form-item input{
    width: 230px;
    border: solid 1px #BEBEBE;
    height: 20px;
}

#commerce-checkout-coupon-ajax-wrapper .commerce_coupon .form-item{
    float: left;
}

#commerce-checkout-coupon-ajax-wrapper input[type="submit"]{
    width: 120px;
    margin-top: 12px;
    height: 24px;
    background-color: #8a8a8a;
}

#commerce-checkout-coupon-ajax-wrapper .description{
    margin-left: 250px;
}

.customer_profile_billing textarea{
    width: 232px;
    border: solid 1px #BEBEBE;
}

.checkout-buttons .checkout-continue, 
.commerce-line-item-actions input[type="submit"],
.node-type-producto .pane-helper-add-to-cart .form-submit{
    background: #ff8b01 url('images/next.png') no-repeat;
    background-position: right 5px;
    text-transform: uppercase;
    border: none;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 50px 10px 15px;
}

.checkout-buttons .checkout-cancel, .checkout-back.form-submit,
.checkout-back.form-submit:hover, .node-type-producto .back-button{
    background: #BEBEBE url('images/cancel.png') no-repeat;
    background-position: 10px 10px;
    text-transform: uppercase;
    border: none;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 15px 10px 50px;
    text-decoration: none;
}

.checkout-buttons .checkout-cancel:hover{
    background: #BEBEBE url('images/cancel.png') no-repeat;
    background-position: 10px 10px;
    text-transform: uppercase;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 15px 10px 50px;
    text-decoration: none;
}

.page-checkout .form-type-textarea .grippie{
    display: none;
}

.page-checkout #edit-buttons{
    border: none;
}

/********************** Detalle Producto *************************/

.panel-2col-sidebar-left .panel-col-first{
    width: 315px;
    margin-top: 10px;
}

.panel-2col-sidebar-left .panel-col-last{
    width: 390px;
    padding-left: 10px;
    margin-top: 10px;
}

.node-type-producto .pane-entity-field.pane-node-body{
    border-top: 2px #d1d1d1 solid;
    margin-top: 20px;
    color: #494949;
    margin-bottom: 20px;
    width: 380px;
    height: 200px;
    overflow-y: scroll;    
}

.node-type-producto .pane-entity-field.pane-node-body p{
    color: #8a8a8a;
    font-size: 12px;
}

.node-type-producto .pane-entity-field h2{
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.node-type-producto .pane-node-title h1{
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: normal;
}

.node-type-producto .field-name-commerce-price,
.node-type-producto .field-name-field-precio-normal{
    font-size: 15px;
    color: #342D7B;
}

.node-type-producto .field-name-field-precio-normal .field-items{
    margin-right: 20px;
}

.node-type-producto .field-name-commerce-price .field-items{
    font-size: 17px;
}

.node-type-producto .field-name-field-precio-normal .field-items,
.node-type-producto .field-name-field-precio-normal .field-label{
    float: left;
}

.node-type-producto .field-name-commerce-price .field-label,
.node-type-producto .field-name-field-precio-normal .field-label{
    font-weight: normal;
}

.node-type-producto .field-name-commerce-price .field-items{
    font-weight: bold;
}

.pane-helper-add-to-cart .commerce-add-to-cart .form-item-quantity{
    text-align: left;
    color: #342D7B;
    margin-top: 30px;
}

.pane-helper-add-to-cart .commerce-add-to-cart .form-item-quantity label{
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin-right: 10px;
}

.pane-helper-add-to-cart .commerce-add-to-cart .form-item-quantity input{
    border: solid 1px #a39fc2;
    border-radius: 2px;
    width: 50px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.pane-helper-add-to-cart .ui-spinner-buttons{
    margin-left: 10px;
}

.pane-helper-add-to-cart .ui-spinner-button.ui-spinner-up{
    border: none;
    cursor: pointer;
}

.pane-helper-add-to-cart .ui-icon-triangle-1-n{
    background-image: url('images/flecha-arriba.png');
    background-color: white;
    background-position: 2px 2px;
}

.pane-helper-add-to-cart .ui-spinner-button.ui-spinner-down{
    border: none;
    cursor: pointer;
}

.pane-helper-add-to-cart .ui-icon-triangle-1-s{
    background-image: url('images/flecha-abajo.png');
    background-color: white;
    background-position: 2px 6px;
}

.node-type-producto .quality-text{
    width: 120px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: black;
    padding: 16px 0px 16px 95px;
    background: url('images/calidad-certificada.png') no-repeat;
}

.node-type-producto .quality-text span{
    color: #91b200;
    font-weight: bold;
}

.node-type-producto .addthis-product-share{
    width: 150px;
    margin-top: 10px;
    clear: left;
}

.node-type-producto .addthis-product-like{
    width: 150px;
    float: right;
    margin-bottom: 30px;
}

.node-type-producto .addthis-product-like .atclear,
.node-type-producto .addthis-product-share .atclear{
    clear: none;
}

.node-type-producto .quality-wrapper{
    clear: both;
}

.node-type-producto .panel-bottom .pane-title{
    font-family: "Questrial";    
    font-weight: normal;
    text-transform: uppercase;
    color: #342D7B;
    text-align: center;
    margin-top: 50px;
    background: white;
    margin-right: 20px;
    width: 370px;
    margin-left: 170px;
    font-size: 18px;
}

.node-type-producto .pane-front-productos-recetas-pane-productos-recetas{
    background: repeat-x url('images/linea2.png') 0px 4px;
    margin-right: 20px;
}

.node-type-producto .liquid{
    color: #1c1b41;
    width: 736px;
}

.node-type-producto .liquid .previous,
.node-type-producto .liquid .next{
    margin-top: 80px;
    height: 60px;
    font-size: 1px;
    text-indent: -9999px;
}

.node-type-producto .liquid .next{
    margin-right: 20px;
    background: no-repeat url('images/slide-next.png') 0px 0px;
}

.node-type-producto .liquid .previous{
    background: no-repeat url('images/slide-previous.png') 25px 0px;
}

.node-type-producto .liquid .views-field-view-node a{
    color: #342D7B;
}

.node-type-producto .liquid li a{
    color: #1c1b41;
}

.node-type-producto .liquid li{
    width: 131px;
    padding: 0px;
    height: 250px;
}

.node-type-producto .liquid li .views-field-field-thumbnail{
    text-align: center;
}

.node-type-producto .liquid li .views-field-field-tipo-receta{
    color: #1c1b41;
}

.node-type-producto .views-field-field-personas{
    margin-left: 0px;
    float: none;
    clear: none;
}

/**************************** Page Checkout Review ****************************/
.page-checkout-review .views-table{
    width: 600px;
}

.page-checkout-review .commerce-price-formatted-components{
    margin-left: 326px;
}

.page-checkout-review table.checkout-review{
    background-color: white;
    width: 630px;
}

.page-checkout-review .checkout-review tr.pane-title{
    font-size: 14px;
}

.page-checkout-review .checkout-review tr.pane-data{
    font-size: 14px;
    background-color: white;
}

.page-checkout-review .checkout-review tr.pane-data label,
.page-checkout-review .checkout-review tr.pane-data td{
    font-size: 13px;
}

.page-checkout-review .checkout-review tr.pane-data .field-label{
    float: left;
}

.page-checkout-review .checkout-review tr.pane-data .field-items{
    margin-bottom: 5px;
}

.page-checkout-review .checkout-review td{
    font-size: 18px;
}

.page-checkout-review .commerce_payment{
    width: 610px;
    font-size: 14px;
    color: black;
    margin-top: 30px;
}

.page-checkout-review .commerce_payment legend{
    font-size: 14px;
    font-weight: bold;
}

/*************************** Pedidos ******************************/

.page-user-orders .view-id-commerce_user_orders .views-table thead,
.page-user-orders .view-commerce-line-item-table .views-table thead{
    font-size: 14px;
    color: black;
}

.page-user-orders .view-id-commerce_user_orders .views-table,
.page-user-orders .view-commerce-line-item-table .views-table{
    width: 700px;
}

.page-user-orders .view-id-commerce_user_orders .views-table thead tr,
.page-user-orders .view-commerce-line-item-table .views-table thead tr{
    background-color: #ECECEC;
}

.page-user-orders .view-id-commerce_user_orders .views-table thead a{
    color: black;
}

.page-user-orders .view-id-commerce_user_orders .views-table tbody tr,
.page-user-orders .view-commerce-line-item-table .views-table tbody tr,
.page-user-orders .commerce-price-formatted-components tbody tr{
    background-color: white;
    font-size: 12px;
    color: black;
}

.page-user-orders .view-id-commerce_user_orders .views-field-order-number a{
    font-weight: bold;
    color: black;
    font-size: 14px;
    margin-left: 10px;
}

.page-user-orders .view-id-commerce_user_orders td.active{
    background-color: transparent;
}

.page-user-orders .view-id-commerce_user_orders thead tr th.views-field,
.page-user-orders .view-commerce-line-item-table thead tr th.views-field{
    border: none;
}

.page-user-orders .view-id-commerce_user_orders th.views-field-order-number,
.page-user-orders .view-id-commerce_user_orders th.views-field-status{
    width: 90px;
    text-align: center;
}

/************************** Detalle Pedido *********************************/
.page-user-orders .commerce-price-formatted-components{
    margin: 20px 0px 0px 400px;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-user-orders .commerce-price-formatted-components tr.odd,
.page-user-orders .commerce-price-formatted-components tbody,
.page-user-orders .commerce-price-formatted-components 
.component-type-commerce-price-formatted-amount td,
.page-user-orders .commerce-price-formatted-components 
.component-type-flat-rate-envio-standard{
    border: none;
}

.page-user-orders .commerce-price-formatted-components 
.component-type-commerce-price-formatted-amount{
    font-size: 14px;
}

.page-user-orders .field-name-commerce-customer-billing{
    width: 600px;
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

.page-user-orders .field-name-commerce-customer-billing .field-label{
    background-color: #ECECEC;
    padding-left: 10px;
}

.page-user-orders .field-name-commerce-customer-billing 
.field-items .field-label{
    background-color: white;
    float: left;
    margin-right: 5px;
}

/**************************** Register ***************************************/

.page-user-register .block-system .form-item label{
    float: none;
    width: auto;
}

.page-user-register .block-system .form-item input{
    width: 500px;
}

.page-user-register .block-system .form-item .password-field,
.page-user-register .block-system .form-item .password-confirm{
    width: 200px;
}

.page-user-register .block-system .form-submit{
    margin: 0px;
    font-size: 15px;
    padding: 5px;
    text-transform: none;
}